@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap");

:root {
	--primary-color: #1992d4;
	--secondary-color: #ffffff;
	--text-color: #000000;
	--light-text-color: #ffffff;
	--search-input-color: #e8e8e8;

	--border-color: #ffbf4f;

	--box-shadow: rgba(0, 0, 0, 0.3);

	--text-font: "Nunito", "Open Sans", Verdana, Tahoma, system-ui,
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		"Helvetica Neue", Geneva, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: var(--text-font);
}

.dashboard {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0;
}

/* ========== SIDEBAR ========== */

.sidebar {
	grid-column: 1 / 2;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background: var(--primary-color);
}

.sidebar-logo {
	width: 100%;
	padding: 1rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	font-size: clamp(1.6rem, 0.2rem + 3vw, 1.8rem);
	font-weight: 900;
	color: var(--light-text-color);
}

.sidebar-logo-icon {
	width: 3.4rem;
	color: var(--secondary-color);
}

.sidebar-nav {
	width: 100%;
	height: calc(100vh - 100px);
}

.nav-list {
	display: grid;
	grid-template-rows: repeat(6, auto) 1fr repeat(3, auto);
	gap: 0.5rem;

	list-style: none;
}

.nav-item {
	width: 100%;
	height: 50px;
	padding: 0.5rem 1.5rem;
}

.nav-item:nth-child(6) {
	margin-bottom: 2rem;
}

.nav-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 0.8rem;

	font-size: clamp(1.3rem, 1.4rem, 1.6rem);
	text-decoration: none;
	color: var(--light-text-color);
	font-weight: 600;
}

.nav-icon,
.sidebar-logo-icon {
	filter: invert(100%);
}

.nav-icon {
	width: 25px;
}

/* ========== MAIN CONTAINER ========== */
.main-container {
	grid-column: 2 / 3;

	display: grid;
	gap: 1rem;
}

/* ========== HEADER ========== */

.header {
	display: grid;
	padding-bottom: 1rem;
	box-shadow: 0 1px 8px var(--box-shadow);
}

.header-top {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	margin-left: 1.5rem;
	padding: 1rem 2rem;
}

.search-bar {
	grid-column: 1 / 2;
	align-items: center;

	display: flex;
	gap: 10px;
	margin-right: 1rem;
}

.search-label {
	height: 30px;
}

.search-input {
	width: 90%;
	height: 30px;
	padding: 1.2rem;
	border-radius: 20px;
	border: none;
	background: var(--search-input-color);
}

.search-input:focus {
	outline: none;
}

.notification-btn,
.user-menu {
	grid: 2 / 3;
}

.notification-btn {
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	margin-right: 1rem;

	cursor: pointer;
}

.user-menu {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 1rem;
}

.user-avatar-small {
	width: 64px;
	height: 60px;
	border-radius: 100%;
}

.user-name {
	font-size: clamp(1rem, 1rem, 1.2rem);
	font-weight: 700;
}

.header-bottom {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 1rem 2rem;

	margin-top: 1.2rem;
}

.user-greeting {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;

	margin-left: 3.3rem;
}

.user-avatar-large {
	width: 80px;
	height: 75px;
	object-fit: cover;
	border-radius: 50%;
}

.greeting-text {
	display: grid;
	grid-template-rows: auto auto;
	gap: 0.25rem;

	font-weight: 800;
}

.greeting-message {
	font-size: 0.8rem;
}

.action-buttons {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 1.6rem;
	margin-right: 1.2rem;
}

.btn {
	padding: 0.7rem 1.7rem;
	color: var(--light-text-color);
	font-weight: 600;
	background: var(--primary-color);

	border: none;
	border-radius: 1rem;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.9;
}
